@import '../../../styles/variables';
@import '../../../styles/mixins/breakpoints';

.footer {
  margin-top: 48px;
  padding: 25px 0;
  background-color: $dark-color;

  & > div {
    max-width: 1500px;
  }
}

.footer-bottom-info {
  padding-top: 42px;
  display: flex;
  flex-direction: column-reverse;
  color: $white-color;

  @include media(tablet) {
    padding-top: 0;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    align-items: center;
  }

  &-logo {
    display: none;

    @include media(tablet) {
      display: block;
    }
  }

  &-copy {
    font-size: 16px;
    line-height: 1.8em;
    text-align: center;
  }

  &-links {
    width: 100%;
    max-width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;

    li {
      line-height: normal;
    }
  }
}
