/* Colors */

$main-color: #ffdd5e;
$black-color: #000000;
$dark-color: #212121;
$medium-dark-color: #575757;
$medium-light-color: #b3b3b3;
$light-color: #cccccc;
$white-color: #ffffff;
$light-bg-color: #fffdf6;

/* Fonts */
$font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
