@import './variables';
@import './mixins/breakpoints';

.footer {
  padding: 25px 0;
}

.footer-info-container {
  text-align: center;
}

.footer-logo-link {
  display: inline-block;
}

.footer-bottom-info {
  padding-top: 42px;
  margin: 0 -20px -25px -20px;
  display: flex;
  flex-direction: column-reverse;
  color: $white-color;
  background-color: $dark-color;

  &-copy {
    font-size: 14px;
    line-height: 1.8em;
    text-align: center;
  }

  &-links {
    width: 160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;

    li {
      line-height: normal;
    }
  }
}
