@import './variables';
@import './mixins/breakpoints';

.intro {
  background-color: $light-bg-color;

  h3 {
    color: $medium-light-color;
    font-size: 18px;
    margin: 0;

    @include media(tablet) {
      font-size: 24px;
    }
  }

  h1 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    text-align: left;

    @include media(tablet) {
      font-size: 48px;
    }
  }

  h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: $dark-color;

    @include media(tablet) {
      font-size: 24px;
    }
  }

  .mail {
    margin-top: 80px;
  }
}

.more-about-link {
  text-align: center;
}

.skill-cards {
  text-align: center;

  @include media(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &-single-card {
    h3 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    p {
      font-size: 18px;
    }

    &-icon {
      font-size: 40px;
      margin-bottom: 12px;
    }

    &-border {
      width: 60px;
      display: block;
      border-bottom: 2px solid #000000;
      margin: 0 auto 30px;
    }
  }
}

.more-about-me {
  &-list {
    padding-left: 24px;
    list-style: initial;
    margin-bottom: 56px;

    a {
      text-decoration: underline;
    }
  }

  &-buttons {
    max-width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
}

.handle {
  color: $medium-light-color;
  text-align: center;
}

.bottom-logo-figure {
  height: 70px;
  width: 70px;
  margin: 0 auto;

  @include media(tablet) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
